@model ImageViewModel
<div b-gx69rlccnc class="container">
    <main b-gx69rlccnc role="main" class="pb-3">
        @foreach(var image in Model.Images)
        {
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="bg-light p-4 rounded shadow mb-3" style="margin-bottom: 20px; text-align: center;">
                        <a href="/home/viewimage?id=@image.Id">
                            <h3>@image.Title</h3>
                            <h5>Uploaded at: @image.Date.ToLongDateString()</h5>
                            <img style="width: 400px;" src="/uploads/@image.Name" />
                        </a>
                    </div>

                </div>
            </div>
        }
       
    </main>
</div>

