<div b-gx69rlccnc class="container">
    <main b-gx69rlccnc role="main" class="pb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow mb-3">
                <form method="post" action="/home/upload" enctype="multipart/form-data">
                    <input type="text" class="form-control" name="title" placeholder="Image Title" />
                    <br />
                    <input type="file" name="image" class="form-control" />
                    <br />
                    <button class="btn btn-primary w-100">Upload</button>
                </form>
            </div>
        </div>
    </main>
</div>