@model ImageViewModel
<div b-gx69rlccnc class="container">
    <main b-gx69rlccnc role="main" class="pb-3">

        <div class="row">
            <input type="hidden" id="image-id" value="@Model.Image.Id" />
            <div class="col-md-10 offset-md-1 bg-light p-4 rounded shadow">
                <h1>@Model.Image.Title</h1>
                <img src="/uploads/@Model.Image.Name" style="width: 900px;" />

                <br />
                <br />
                @if (Model.CanLike)
                {
                    <button id="like-button" class="btn btn-primary btn-lg">LIKE</button>
                }
                else
                {
                    <button id="like-button" disabled class="btn btn-primary btn-lg">LIKE</button>
                }
                Current Likes: <span id="likes-count">@Model.Image.Likes </span>

            </div>
        </div>

    </main>
</div>
@section Scripts{
    <script src="~/js/javascript.js"></script>
}
